.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:disabled{
  background: rgba(0, 0, 0, 0.4);
  cursor:not-allowed;
}

/* To scale down the button when we click it */
.btn:active {
  transform: scale(0.98);
}
